@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a Dungeons & Dragons App that utilizes information from the DnD Web API.</p>
</div>
